.text {
  text-align: center;
}

.to-do-container {
  background-color: yellow;
  width: 100vw;
  height: 80px;
  border-radius: 6px;
  border: 2px solid black;
  margin: 8px 100vw auto -3.7vw;
  list-style-type: none;
  word-break: break-all;
  white-space: initial;
  text-overflow: ellipsis;
  overflow: hidden;
}

.to-do-container:active {
  box-shadow: -1px -1px 13px 10px red;
  text-decoration: line-through;
}

.input-area-information {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
}

.info-container {
  margin-bottom: 100px;
}

.container {
  text-align: center;
  font-size: 150%;
  cursor: pointer;
}

.add-list-btn {
  position: relative;
  top: 53%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 8%;
  height: 6%;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 9px #999;
  border: none;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
}

.add-list-btn:active {
  box-shadow: 0 5px #666;
  transform: translate(-47%, -47%);
}
